@{
	ViewData["Title"] = "Areas/Admin/Views/Home/Index";
}

<h1>Areas/Admin/Views/Home/Index</h1>
<ul>
	<li><a asp-controller="Artists" asp-action="Index">Artists</a></li>
	<li><a asp-controller="Venues" asp-action="Index">Venues</a></li>
</ul>

